body {
    background-color: powderblue;
}
h1 {
    font-family: Calibri;
}
p {
    font-family: Calibri;
}
div {
    font-family: Calibri;
}
script {
    font-family: Calibri;
}
form {
    font-family: Calibri;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}